/*
#tablaOtorgantes
{
	border: 1px solid red;
	margin: 0 auto;
	width: 1020px;
}

#sectionOtorgantes, #sectionFavorecidos
{
	display: inline-block;
	vertical-align: top;	
}
#sectionOtorgantes
{
	border: 1px solid yellow;
	float: left;
}
#sectionFavorecidos
{
	border: 1px solid green;
	float: right;
}
*/